/* Estilos Globais */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0px;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

#root {
  background-color: #f9f9f9;
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
}
